<div class="container">
  <title>Booking Form</title>
  <div>
    <h2>Destination Selected</h2>
    <h3>{{destination.name}}</h3> 
    <h2> Travel Package Selected</h2>
    <h3>{{userPack.packName}}</h3>
  </div>

  <div>
    <label>Price per person:</label>
    <P>{{ userPack.price}}</P>
  </div>

  <form  #bookingForm="ngForm"  (ngSubmit)="onSubmit()" novalidate>
    <div>
      <label for="name">First Name:</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="booking.username" #username="ngModel" required >
      <div class="alert alert-danger">
        Name is required
      </div>
    </div>

    <div class="form-control">
      <label for="">Email</label>
      <input type="text" class="form-control" id="email" name="email"  [(ngModel)]="booking.email" required>
      <div class="alert alert-danger">
        Email is required
    </div>

    <div>
      <label>Travel date:</label>
      <input type="date" class="form-control"  id="travelDate" name="travelDate" [(ngModel)]="booking.travelDate"  required >
    </div>

    <div>
      <label>Number of travelers:</label>
      <input type ="number" min="1" max="10" value="1" id="count" name="count" [(ngModel)]="booking.count">
    </div>

    </div>
    <button routerLink = "/"  class="btn btn-fail" >Back</button>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
<div class="reservation" [hidden]="isDisplay"  *ngIf ="false">
  <div *ngFor="let item on confirmation$">
    <p>Congratulations {{item.username}}</p>
    <p>Your number of confirmation is:</p>
    <p>{{item.idBooing}} </p>
    <p>Soon we are going to contact you to talk about all the details, please check your email {{item.email}}</p>
  </div>
</div>
  
      
  
      

    
   