<!--this  component stores the company name and the router components, this is a static component-->
<header fxLayoutAlign = "space-between-center" >
    <div ><p>LogoAgency</p></div>
    <div class="navbar">
        <ul>
            <li> <a routerLink = "/" href="#"> Home</a></li>
        </ul>   
        <ul>
            <li><a routerLink="/administrator" href="#"> Admistration</a></li>
        </ul>
    </div>
</header>
<!--
    <a routerLink = "/packages"></a>
    <a routerLink = "/booking"></a>
    -->