.displayDestinations{
 align-content:flex-start;
}

#imgSample{
  max-width: 80%;
  height: auto;
}

.btn-group button {
    background-color: cadetblue;
    border: 1px solid rgb(65, 112, 114);
    color: rgb(238, 230, 230); 
    padding: 10px ; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: center; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #1e9b75;
  }