
<!--this  component stores the planet list or destinations-->
<div class="displayDestinations" style="align-content:flex-end;">
    <h3>LET'S GET YOU THERE</h3>
    <p>Being your adventure today!!! </p>
    <h2>Destinations</h2>
    <!-- here stars the destination list-->
    <div class="btn-group" style="width:100%" *ngFor="let item of planets$ | async">
        <a >
           <h3>{{item.name}}</h3>
        </a> 
       
        <p *ngIf="item.description">
        Description: {{item.description}}
        </p>
       
        <img  id="imgSample" src="{{item.url}}">
         
        <button routerLink = "/packages" (click)="selectDestination()">> Select {{item.name}}</button> 
    </div>
    <br>
</div>

